.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/Clients.Website.API/FileContentIndex/16676804-4b0b-46bd-b581-fb4fbbd2eb36.vsidx
.vs/Clients.Website.API/FileContentIndex/419c53c7-39b6-442b-9a0f-3f899643eca4.vsidx
.vs/Clients.Website.API/FileContentIndex/421609e9-2e28-4730-b1e0-babc4ac7316c.vsidx
.vs/Clients.Website.API/FileContentIndex/69e3f1f2-cdbf-4c32-8dbd-15ffa54af672.vsidx
.vs/Clients.Website.API/FileContentIndex/cd436bd5-3bb4-4c09-a803-921aaff4d478.vsidx
.vs/Clients.Website.API/FileContentIndex/1402dcc8-357b-4b4f-827d-e49ff95e3d8a.vsidx
.vs/Clients.Website.API/FileContentIndex/e72267af-26a3-445a-84de-09ee96c6b5ee.vsidx
.vs/Clients.Website.API/copilot-chat/d261496f/sessions/7b7ac00a-f864-4846-950d-135e07aa8be1
.vs/Clients.Website.API/FileContentIndex/1805c2b6-f587-4dc5-976c-235f549f2908.vsidx
.vs/Clients.Website.API/FileContentIndex/1c03ee8a-41c4-4534-90fe-cd7731208023.vsidx
.vs/Clients.Website.API/FileContentIndex/4053bab0-bdef-4eae-94a7-a4b72117bfbb.vsidx
.vs/Clients.Website.API/FileContentIndex/67c33e6f-9a60-481a-9bbd-472ea72f42c9.vsidx
.vs/Clients.Website.API/FileContentIndex/9bef5ed3-cbaa-49b5-a257-4b3c3839cacc.vsidx
.vs/Clients.Website.API/FileContentIndex/
.vsidx