.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/Clients.Website.API/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/Clients.Website.API/FileContentIndex/16676804-4b0b-46bd-b581-fb4fbbd2eb36.vsidx
.vs/Clients.Website.API/FileContentIndex/419c53c7-39b6-442b-9a0f-3f899643eca4.vsidx
.vs/Clients.Website.API/FileContentIndex/421609e9-2e28-4730-b1e0-babc4ac7316c.vsidx
.vs/Clients.Website.API/FileContentIndex/69e3f1f2-cdbf-4c32-8dbd-15ffa54af672.vsidx
.vs/Clients.Website.API/FileContentIndex/cd436bd5-3bb4-4c09-a803-921aaff4d478.vsidx
